[submodule "xqemu-kafl"]
	path = xqemu-kafl
	url = https://github.com/MatthewTingum/xqemu-kafl.git
[submodule "xkAFL-KVM"]
	path = xkAFL-KVM
	url = https://github.com/MatthewTingum/xkAFL-KVM.git
[submodule "nxdk"]
	path = nxdk
	url = https://github.com/XboxDev/nxdk.git
